.info-box {
    display: inline-block;
    width: 500px;
}

.social-media-icon {
    height: 30px;
    width: 30px;
}

p {
    font-size: 20px;
    margin-right: 50px;
}

.bio-box {
    width: 1000px;
    height: 560px;
    margin: auto;
    display: flex;
    overflow: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.color-block {
    background-color: #F7DBA7;
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    border: solid 3em #89023E;
}
