.info-box {
    display: inline-block;
    width: 500px;
}

.social-media-icon {
    height: 30px;
    width: 30px;
}

.headshot {
    width: 600px;
}

p {
    font-size: 20px;
}
 .bio-box {
    width: fit-content;
    margin: auto;
    display: flex;
 }
